Package: [[name]]-[[version]]
Version: [[version]]
Architecture: all
Maintainer: Dmitry Musatov <dmusatov@iponweb.net>
Depends: hadoop-mapreduce (>= 2.0.0)
Provides: hadoop2-iow-lib
Section: non-free/net
Priority: extra
Homepage: https://www.iponweb.net/twiki/bin/view/IowEtl/WebHome
Vcs-Git: https://hg.iponweb.net/u-etl/hadoop-lib
Vcs-Browser: https://hg.iponweb.net/u-etl/hadoop-lib
Description: IPONWEB library for Hadoop
 This package will always depend on the latest IPONWEB Hadoop library version available.
